<app-header></app-header>

<div class="blog-standard-area pt-90 pb-120">
    <div class="container">
        <div class="blog-dteails-content blog-border">
            <div class="blog-details-top">
                <h1 class="title">
                    Autobuses Urbanos y Accesibilidad en Jerez
                </h1>
                <ul>
                    <!-- <li><i class="fal fa-eye"></i> 232 Vistas</li>
                    <li><i class="fal fa-comments"></i> 0 Comentarios</li> -->
                    <li><i class="fal fa-calendar-alt"></i> 26 enero 2023</li>
                </ul>
                <h1 class="subTitle">¿Ignorancia, insensibilidad o incumplimiento ante la discapacidad?</h1>

            </div>

            <h1 class="titleParrafo">Cumplir la ley</h1>
            <p>Es sorprendente que tras 15 años desde que se promulgó el Real Decreto 1544/2007, por el que se regulan
                las <strong>condiciones básicas de accesibilidad</strong> y no discriminación para el acceso y
                utilización de los modos de transporte para personas con discapacidad, no se hayan acondicionado las
                paradas de la
                red de autobuses urbano en la ciudad.
            </p>
            <p>Las marquesinas siguen igualmente pendientes de acondicionarse para las personas con dificultades de
                visión,
                y la gran mayoría no son más que un poste vertical.
            </p>
            <p>Esto supone antes que nada, un incumplimiento continuado del propio Plan General de Ordenación Urbana de
                Jerez. Una modificación que se aprobó en el Pleno Municipal, que sólo ha servido para obtener un titular
                en
                la prensa local.
            </p>
            <p>Aún es más grave que las que se han “levantado” en los últimos tiempos no tengan en cuenta los preceptos
                que
                la ley establece, máxime cuando se realizan con financiación europea (EDUSI), como es el caso de las
                habilitadas tras la reestructuración de la calle Corredera, junto a Plaza de las Angustias y en la Plaza
                Esteve, en las que la infracción por <strong>incumplimiento legal</strong> pudiera conllevar
                amonestación y
                pago de sanción.
            </p>
            <h1 class="titleParrafo">Más ambición</h1>
            <p>En el marco de la accesibilidad, y si se pretende ser inclusivo en un sentido más avanzado que lo exigido
                por la legislación, deberían contemplarse otras necesidades personales temporales.
            </p>
            <p>Cuando viajas en autobús, se observan las dificultades de subir a padres con carritos para bebés,
                personas
                mayores con su andador y otros con carros de la compra; en paradas mal acondicionadas, de aceras
                tortuosas o
            </p>
            <h1 class="titleParrafo">Más transparencia</h1>
            <p>Por otro lado, una mejora en la transparencia del servicio, sería de agradecer por la ciudadanía.
            </p>
            <p>Nos gustaría saber cuántos autobuses por su antigüedad y por su incapacidad de diseño no son accesibles
                para
                <strong>personas con dificultad motriz</strong>, ¿será difícil saberlo?, en ningún lugar figura y los
                autobuses van cambiando
                de línea por día y por horas.
            </p>
            <p>Es complicado simplemente saber cuántos están en funcionamiento real, puesto que según “dicen las malas
                lenguas”, parte de la flota ya no existe, está descompuesta, para reutilizar sus piezas en otras
                unidades y
                evitar adquirir repuestos nuevos, que ya se sabe cómo vamos de tesorería municipal.
            </p>
            <br>
            <br />
            <p>Es bastante extraño que algunos de los autobuses que circulan al día de hoy por Jerez reúnan o
                <strong>cumplan las
                    mínimas condiciones de seguridad</strong> requeridas para su uso, la gente al comprobar el estado de
                las
                ruedas,
                junto con los humos y el ruido atronador que salen de esas cafeteras rodantes, se preguntará cómo pueden
                pasar cada año la ITV y si al usarlos no estarán asumiendo un riesgo personal innecesario, porque el
                sentido
                común les pone en guardia antes de subir.
            </p>
            <br>
            <br />
            Observatorio Ciudadano Municipal de Jerez (OCM Jerez)
        </div>
    </div>
</div>

<app-footer></app-footer>