<div class="card">
    <h2 class="title">
        {{title}}
        <br>
    </h2>
    <div>
        <img style="width: 32px; height: 32px" src="assets/images/OCMicono.ico" alt="">
        <span>{{author}}&nbsp;&nbsp;</span>
        <span style="color: rgb(37, 7, 87)">{{date}}</span>
        <span *ngIf="new" style="color: red; font-weight: bold">&nbsp;&nbsp;Nueva entrada&nbsp;</span>
        <i *ngIf="new" class="fal fa-exclamation-circle fa-2x"></i>
        <br />
    </div>
    <p>{{extract}}</p>
    <a class="button" routerLink={{routerLink}}>Leer más... <i class="fal fa-long-arrow-right"></i></a>
</div>